.contact_section {
    max-width: 1000px;
    margin: 50px auto;
  }
  .contact_section h1 {
    font-size: 48px;
    font-weight: 800;
    max-width: 50%;
    margin: 30px 0;
    color: rgb(245 158 11);
  }
  .contact_section p {
    font-weight: 500;
  }

  @media screen and (max-width: 767px) {

    .contact_section p {
      text-align: center;
      justify-content: center;
    }
    .contact_section h1 {
      text-align: center;
      justify-content: center;
      max-width: 100%;
    }
}